.cancelar {
    background-color: white;
    border: none;
    color: red;
}

.views-errors-wrapper {
    text-align: center;

    img {
        max-width: 60vw;
        width: 100%;
    }
}

.title {
    text-align: center;

   
}

.detail {
    padding: 0 20px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 2vh;
}

.red-button {
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}