.welcome-header {
    padding-top: 8vh;
    text-align: center;
    img {
        max-width: 80vw;
        width: 100%;
        max-height: 25vh;
        height: 100%;
    }
}

.title-container {
    text-align: center;
    h1 {
        margin-top: 2vh;
    }
}

.info-container {
    padding: 0 4vh;
    text-align: center;
}

.button-container {
    padding-top: 4vh;
    text-align: center;
}

.alert-container {
 //   padding-top: 7vh;
    text-align: center;
    padding: 2vh 2vw 0;

}

.red {
    font-weight: bold;
    color: #ec0000;
}

.input-container {
    padding: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .password {
        font-size: 30px;
        max-width: 165px;
        letter-spacing: 10px;
        padding-right: 20px;
        &:focus {
            border: 0;
            outline: none;
        }
    }
}

.red-button {
    color: #ec0000;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.red-button:disabled{
    color: #999999;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
}



