

.views-errors-wrapper {
    padding-top: 10vh;
    text-align: center;

    img {
        max-width: 60vw;
        width: 100%;
        max-height: 30vh;
        height: 100%;
    }
}

.title {
    text-align: center;

    h1 {
        margin-top: 8vh;
    }
}

.detail {
    margin-top: 10vh;
    padding: 0 20px;
    text-align: center;
}

.buttons {
    margin-top: 10vh;
    text-align: center;
}
.red {
    font-weight: bold;
    color: #ec0000;
    white-space: nowrap;
}
 