.container-benefits {
   padding: 0 8vw;
   .title {
      text-align: center;
      h1 {
         line-height: 45px;
         font-weight: bold;
      }
   }
   .benefits-list {
      text-align: left;
      list-style: none;
      list-style-position: outside;
      li {
         display: flex;
         align-items: center;
         p {
         margin: 10px 0;
         }
      }
      img {
         width: 20px;
         margin-right: 18px;
      }
   }
}

.button-container {
   padding-top: 20px;
   text-align: center;
}